<table datatable class="row-border hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre y Apellido</th>
        <th>Marca de ropa favorita</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Uriel Maldonado Bernabé</td>
        <td>Puma</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Jose Francisco Flores Amador</td>
        <td>Adidas</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Dulce Yadira Salvador Antonio</td>
        <td>Cuidado con el perro</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Edwin Hernandez Campos</td>
        <td>Offwhite</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Giovanny Raul Pasos Cruz</td>
        <td>Kaws</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Paco Garcia Garcia</td>
        <td>Obama</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Derek Sesni Carreño</td>
        <td>Davans</td>
      </tr>
      <tr>
        <td>8</td>
        <td>Erick Matias Granillo Mejia</td>
        <td>Chuck</td>
      </tr>
      <tr>
        <td>9</td>
        <td>Citlali Pérez Dionicio</td>
        <td>Bernald</td>
      </tr>
      <tr>
        <td>10</td>
        <td>Jonathan Emmanuel López Morales</td>
        <td>Robin</td>
      </tr>
      <tr>
        <td>11</td>
        <td>Diego Miguel Rivera Chávez</td>
        <td>Lin</td>
      </tr>
      <tr>
        <td>12</td>
        <td>Jennifer Bautista Barrios</td>
        <td>Supreme</td>
      </tr>
      <tr>
        <td>13</td>
        <td>Mauricio Rosales Gabriel</td>
        <td>Humbert</td>
      </tr>
      <tr>
        <td>14</td>
        <td>Michelle Castro Otero</td>
        <td>Malter</td>
      </tr>
      <tr>
        <td>15</td>
        <td>Sayurid Bautista Cruz</td>
        <td>Lincia</td>
      </tr>
      <tr>
        <td>16</td>
        <td>Obed Guzmán Flores</td>
        <td>Bloom</td>
      </tr>
      <tr>
        <td>17</td>
        <td>Luis Daniel Suarez Escamilla</td>
        <td>Glow</td>
      </tr>
      <tr>
        <td>18</td>
        <td>Teresa Vargas Fernandez</td>
        <td>Simple</td>
      </tr>
      <tr>
        <td>19</td>
        <td>Carlos Daniel Garcia Pluma</td>
        <td>happy</td>
      </tr>
      <tr>
        <td>20</td>
        <td>Brisa Nayeli Garcia Gregorio</td>
        <td>Boss</td>
      </tr>
      <tr>
        <td>21</td>
        <td>Adrián Pérez Jímenez</td>
        <td>Levi's</td>
      </tr>
      <tr>
        <td>22</td>
        <td>José Arturo García González</td>
        <td>PRA</td>
      </tr>
      <tr>
        <td>23</td>
        <td>Al Farías Leiva</td>
        <td>Promo</td>
      </tr>
      <tr>
        <td>24</td>
        <td>Angel de Jesús Baños Tellez</td>
        <td>Gucci</td>
      </tr>
      <tr>
        <td>25</td>
        <td>Jesús Alejandro Artiaga Morales</td>
        <td>GUESS</td>
      </tr>
      <tr>
        <td>26</td>
        <td>Yazmin Gutierrez Hernandez</td>
        <td>Tommy</td>
      </tr>
    </tbody>
  </table>
  