<div style="display: flex;padding: 20px; background-color: aliceblue;">
    <div style="background-color: rgb(163, 207, 194);padding: 20px;">
        <h1 style="text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Lista de marcas favoritas de alumnos</h1>
    </div>
    <div style="display: flex;flex-direction: column;width: 100%;height: 100%;padding: 10px;background-color: rgb(240, 255, 253);">
        <div class="group" style="display: flex;justify-content: space-around;">
            <div style="height: 25%;width: 40%;padding: 10px;">
                <app-basic-datatable></app-basic-datatable>
            </div>
            <div style="height: 25%;width: 40%;">
                <app-options-datatable></app-options-datatable>
            </div>
        </div>
        <div class="group" style="display: flex;justify-content: space-around;margin-top: 5%;">
            <div style="height: 25%;width: 40%;">
                <app-basic-datatable></app-basic-datatable>
            </div>
            <div style="height: 25%;width: 40%;">
                <app-basic-datatable></app-basic-datatable>
            </div>
        </div>
    </div>
</div>